.event-form-page-container {
    display: flex;
    justify-content: center;
}

.event-form-container {
    display: flex;
    justify-content: center;
    background-color: white;
    border: solid black 5px;
    border-radius: 15px;
    padding-left: 10px;
    padding-bottom: 10px;
    height: 220px;
    width: 400px;
    font-family: "Gill Sans", sans-serif;
}

.event-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}



.submit-button {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 5px 10px;
    background-color: rgba(211,211,211, 1);
    font-family: inherit;
    border-radius: 12px;
    font-family: "Gill Sans", sans-serif;
    text-decoration: none;
}

.submit-button:hover {
    background-color: rgba(211,211,211, .5); 
}