.signup-page-container {
    display: flex;
    justify-content: center;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    font-family: "Gill Sans", sans-serif;
}

input {
    margin-top: 10px
}

.submit-button {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 5px 10px;
    background-color: rgba(211,211,211, 1);
    font-family: inherit;
    border-radius: 12px;
    font-family: "Gill Sans", sans-serif;
    text-decoration: none;
    margin-top: 10px
}

.submit-button:hover {
    background-color: rgba(211,211,211, .5);
}