.full-page-container {
    display: flex;
    justify-content: center;
}

.navbar-container {
    outline: solid black;
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    padding-left: 15px;
    gap: 25px;
    border-radius: 12px;
    height: 70px;
    background-color: indigo;
    box-shadow:0px 1px 1px black;
    margin-bottom: 15px;
    width: 700px;
    
}

.home-button {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 5px 10px;
    background-color: rgba(211,211,211, 1);
    font-family: inherit;
    border-radius: 12px;
    font-family: "Gill Sans", sans-serif;
    text-decoration: none;
}

.home-button:hover {
    background-color: rgba(211,211,211, .5);
}

.events-button {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 5px 10px;
    background-color: rgba(211,211,211, 1);
    font-family: inherit;
    border-radius: 12px;
    font-family: "Gill Sans", sans-serif;
    text-decoration: none;
}

.events-button:hover {
    background-color: rgba(211,211,211, .5);
}

.user-greeting {
    font-family: "Gill Sans", sans-serif;
    font-style: italic;
    color: rgba(211,211,211, 1);
}

.profile-dropdown {
    list-style-type: none;
    color: rgba(211,211,211, 1)
}

.signup-button {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 5px 10px;
    background-color: rgba(211,211,211, 1);
    font-family: inherit;
    border-radius: 12px;
    font-family: "Gill Sans", sans-serif;
    text-decoration: none;
}

.signup-button:hover {
    background-color: rgba(211,211,211, .5);
}

.demo-user-login {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 5px 10px;
    background-color: rgba(211,211,211, 1);
    font-family: inherit;
    border-radius: 12px;
    font-family: "Gill Sans", sans-serif;
    text-decoration: none;
}

.demo-user-login:hover {
    background-color: rgba(211,211,211, .5);
}