.event-list-container {
    

}
.event-container {
    background-color: white;
    width: 550px;
    border: black solid 1px;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 5px;
}

.add-event-button {
    text-transform: uppercase;
    font-weight: 700;
    justify-content: space-evenly;
}